/*-- scss:defaults --*/
$body-bg: #f8f6f1;
$body-color: #202832;
$link-color: #0b6f69;
$link-hover-color: #07534f;
$navbar-bg: rgba(248, 246, 241, 0.92);
$navbar-fg: #202832;
$navbar-hl: #0b6f69;
$footer-bg: #f8f6f1;
$footer-fg: #202832;
$code-bg: #efece5;
$code-color: #18324a;

